@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt";
  font-size: 2vh;
  color: white;
}

.entry {
  background: url(../assets/bg.jpg);
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 100vw;
}
.entry .col {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.entry .col h3 {
  font-size: 2rem;
}
.entry .col h1 {
  font-size: 4rem;
}
.entry .col h5 {
  font-size: 2rem;
}
.entry .grid {
  background-color: #e5bc56;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.entry .grid .option {
  cursor: pointer;
}
.entry .grid .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.entry .grid .item:nth-of-type(2) {
  background-color: white;
}
.entry .grid .item:nth-of-type(2) h3 {
  color: black;
}
.entry .info {
  padding: 10rem 4rem 0 4rem;
}

.web-dev {
  background: url(../assets/bg2.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.web-dev nav {
  display: flex;
  gap: 1rem;
  background-color: white;
  height: 6vh;
  align-items: center;
}
.web-dev nav .brand {
  padding-left: 2rem;
  cursor: pointer;
}
.web-dev nav h4 {
  flex: 1;
  color: black;
}
.web-dev nav h5 {
  color: black;
}
.web-dev nav .menu {
  flex: 4;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
}
.web-dev nav .menu h4 {
  flex: 1;
  height: 100%;
  cursor: pointer;
}
.web-dev nav .menu .active {
  background-color: #4684c7;
  color: white;
}
.web-dev nav .options {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
.web-dev nav .options h5 {
  padding: 0 2rem 0 0;
  height: 100%;
  cursor: pointer;
}
.web-dev nav .options .active {
  background-color: #000000;
  color: white;
}
.web-dev .line {
  height: 1vh;
  background-color: #4684c7;
}
.web-dev .margin-about {
  margin-left: 19.7vw;
  transition: margin-left 0.5s;
}
.web-dev .margin-projects {
  margin-left: 42.42vw;
  transition: margin-left 0.5s;
}
.web-dev .margin-contact {
  margin-left: 65.1vw;
  transition: margin-left 0.5s;
}
.web-dev .content {
  width: 50%;
  background-color: #4684c7;
  height: 93vh;
  margin-left: 50%;
  padding: 2rem;
}
.web-dev .content .about-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.web-dev .content .about-content h1 {
  font-size: 3rem;
}
.web-dev .content .about-content h2 {
  font-size: 2rem;
}
.web-dev .content .about-content .clients {
  display: flex;
  justify-content: space-around;
}
.web-dev .content .about-content .clients .card {
  height: 60px;
  padding: 0 1rem 0 1rem;
  background-color: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1rem;
}
.web-dev .content .about-content .clients .card img {
  height: 45px;
}
.web-dev .content .about-content .clients .card h4 {
  color: black;
}
.web-dev .content .about-content .skills {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem 0 5rem;
}
.web-dev .content .projects-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.web-dev .content .projects-content h1 {
  font-size: 3rem;
}
.web-dev .content .projects-content .cards {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.web-dev .content .projects-content .cards .card {
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.web-dev .content .projects-content .cards .card h3, .web-dev .content .projects-content .cards .card p, .web-dev .content .projects-content .cards .card .buttons > button {
  color: black;
}
.web-dev .content .projects-content .cards .card h3 {
  font-size: 1.5rem;
}
.web-dev .content .projects-content .cards .card .buttons {
  display: flex;
  gap: 1rem;
}
.web-dev .content .contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.web-dev .content .contact-content h1 {
  font-size: 2.5rem;
}
.web-dev .content .contact-content p {
  width: 75%;
  text-align: center;
}
.web-dev .content .contact-content form {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 2rem;
}
.web-dev .content .contact-content form .item {
  display: flex;
  flex-direction: column;
}

.app-dev {
  background: url(../assets/bg3.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.app-dev nav {
  display: flex;
  gap: 1rem;
  background-color: white;
  height: 6vh;
  align-items: center;
}
.app-dev nav .brand {
  padding-left: 2rem;
  cursor: pointer;
}
.app-dev nav h4 {
  flex: 1;
  color: black;
}
.app-dev nav h5 {
  color: black;
}
.app-dev nav .menu {
  flex: 4;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
}
.app-dev nav .menu h4 {
  flex: 1;
  height: 100%;
  cursor: pointer;
}
.app-dev nav .menu .active {
  background-color: #bc46c7;
  color: white;
}
.app-dev nav .options {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
.app-dev nav .options h5 {
  padding: 0 2rem 0 0;
  height: 100%;
  cursor: pointer;
}
.app-dev nav .options .active {
  background-color: #000000;
  color: white;
}
.app-dev .line {
  height: 1vh;
  background-color: #bc46c7;
}
.app-dev .margin-about {
  margin-right: 58.6vw;
  transition: margin-right 0.5s;
}
.app-dev .margin-projects {
  margin-right: 36vw;
  transition: margin-right 0.5s;
}
.app-dev .margin-contact {
  margin-right: 13.3vw;
  transition: margin-right 0.5s;
}
.app-dev .content {
  width: 50%;
  background-color: #bc46c7;
  height: 93vh;
  margin-right: 50%;
  padding: 2rem;
}
.app-dev .content .about-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app-dev .content .about-content h1 {
  font-size: 3rem;
}
.app-dev .content .about-content h2 {
  font-size: 2rem;
}
.app-dev .content .about-content .clients {
  display: flex;
  justify-content: space-around;
}
.app-dev .content .about-content .clients .card {
  height: 60px;
  padding: 0 1rem 0 1rem;
  background-color: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1rem;
}
.app-dev .content .about-content .clients .card img {
  height: 45px;
}
.app-dev .content .about-content .clients .card h4 {
  color: black;
}
.app-dev .content .about-content .skills {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem 0 5rem;
}
.app-dev .content .projects-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.app-dev .content .projects-content h1 {
  font-size: 3rem;
}
.app-dev .content .projects-content .cards {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.app-dev .content .projects-content .cards .card {
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.app-dev .content .projects-content .cards .card h3, .app-dev .content .projects-content .cards .card p, .app-dev .content .projects-content .cards .card .buttons > button {
  color: black;
}
.app-dev .content .projects-content .cards .card h3 {
  font-size: 1.5rem;
}
.app-dev .content .projects-content .cards .card .buttons {
  display: flex;
  gap: 1rem;
}
.app-dev .content .contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.app-dev .content .contact-content h1 {
  font-size: 2.5rem;
}
.app-dev .content .contact-content p {
  width: 75%;
  text-align: center;
}
.app-dev .content .contact-content form {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 2rem;
}
.app-dev .content .contact-content form .item {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=App.css.map */