@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Lexend Peta";
  // font-family: "Madimi One";
  font-family: "Encode Sans Expanded";
  font-size: 2vh;
  color: #313131;
}
button{
  background-color: #a2f3a2;
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 25px;
  font-weight: bold;
  text-align: center;
  color: #313131;
  border: none;
  outline: none;
  cursor: pointer;
}
.title{
  padding: 1rem;
  margin-bottom: 3rem;
  h2{
    font-size: 3rem;
    width: 100%;
    border-bottom: 1px solid #90909062;
    padding-bottom: 0.5rem;
  }
}


.entry{
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  background-color: white;
  .nav{
    flex: 1;
    background-color: #a2f3a2;
    padding: 0.25rem 1rem 0.25rem 1rem;
    display: flex;
    justify-content: space-between;
    button{
      background-color: #a2f3a2;
      font-size: 1rem;
      padding: 0.4rem;
      border-radius: 25px;
      font-weight: bold;
      text-align: center;
      color: #313131;
      border: none;
      outline: none;
      cursor: pointer;
    }
    img{
      height: 40px;
      cursor: pointer;
    }
  }
  .info{
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55vh;
    background-color: #313131;
    h1{
      font-size: 6rem;
      color: white;
    }
    h5{
      color: white;
      span{
        cursor: pointer;
        color: #a2f3a2;
        &:active{
          text-decoration: underline;
        }
      }
    }
  }
  .grid{
    flex: 3;
    .item{
      display: flex;
      flex-direction: column;
      padding: 2rem;
      align-items: flex-start;
      gap: 20px;
      h3{
        font-size: 1.5rem;
        color: #313131;
      }
      p{
        font-size: 2rem;
        color: #313131;
      }
      &:nth-of-type(2){
        img{
          width: 100%;
          border-radius: 25px;
        }
        p{
          font-size: 1rem;
          text-align: center;
        }
      }
    }
  }
  .services{
    flex: 3;
    padding: 4rem 0 4rem 0;
    .title{
      padding: 1rem;
      h2{
        font-size: 3rem;
        width: 100%;
        border-bottom: 1px solid #90909062;
        padding-bottom: 0.5rem;
      }
    }
    .row{
      display: flex;
      .list{
        flex: 1;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        p{
          width: 98%;
          font-size: 1.5rem;
          color: #939393;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 10px;
          background: rgba(228, 228, 228, 0.47);
          border-radius: 20px;
          padding: 2rem;
          justify-content: center;
          &:active{
            background-color: #a2f3a2;
          }
          img{
            height: 30px;
          }
        }
        .clicked{
          color: #313131;
        }
        .pill{
          p{
            background-color: #a2f3a2;
            font-size: 1rem;
            padding: 0.4rem;
            border-radius: 25px;
            font-weight: bold;
            text-align: center;
            width: 100%;
            color: #313131;
            padding: 1rem;
          }
        }
      }
    }
  }
  .features{
    flex: 3;
    padding: 4rem 0 4rem 0;
    .title{
      padding: 1rem;
      h2{
        font-size: 3rem;
        width: 100%;
        border-bottom: 1px solid #90909062;
        padding-bottom: 0.5rem;
      }
    }
    .row{
      display: flex;
      .list{
        flex: 1;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        .card{
          width: 90%;
          display: flex;
          flex-direction: column;
          gap: 20px;
          background-color: #e4e4e479;
          border-radius: 15px;
          padding: 1rem;
          h4{
            font-size: 1.5rem;
          }
        }
        .pill{
          width: 75%;
          p{
            background-color: #a2f3a2;
            font-size: 1rem;
            padding: 0.4rem;
            border-radius: 25px;
            font-weight: bold;
            text-align: center;
            color: #313131;
          }
        }
      }
    }
  }
  .clients{
    flex: 3;
    padding: 4rem 0 4rem 0;
    .title{
      padding: 1rem;
      h2{
        font-size: 3rem;
        width: 100%;
        border-bottom: 1px solid #90909062;
        padding-bottom: 0.5rem;
      }
    }
    .row{
      display: flex;
      justify-content: center;
      .list{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        background-color: #313131;
        border-radius: 20px;
        width: 80vw;
        .card{
          width: 90%;
          display: flex;
          flex-direction: column;
          gap: 20px;
          background-color: #e4e4e479;
          border-radius: 15px;
          padding: 1rem;
        }
      }
    }
  }
  .footer{
    flex: 3;
    padding: 4rem 0 4rem 0;
    background-color: #313131;
    .title{
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      p{
        color: white;
      }
      h2{
        color: white;
        font-size: 2.5rem;
        width: 80%;
        border-bottom: 1px solid #90909062;
        padding-bottom: 0.5rem;
      }
    }
  }
}



@media only screen and (min-width: 600px) {
  .entry{
    align-items: center;
    .nav{
      width: 100%;
    }
    .info{
      width: 100%;
      flex: none;
      height: 95vh;
      h1{
        font-size: 10rem;
        width: 50%;
      }
      h5{
        font-size: 2.5rem;
        width: 60%;
        span{
          cursor: pointer;
          color: #a2f3a2;
          font-size: 2.5rem;
          &:hover{
           text-decoration: underline; 
          }
        }
      }
    }
    .grid{
      flex: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 4rem;
      padding-bottom: 4rem;
      width: 90%;
      .item{
        width: 75%;
        h3{
          font-size: 3rem;
        }
        p{
          font-size: 4rem;
        }
        &:nth-of-type(2){
          img{
            height: 400px;
            width: 100%;
            border-radius: 25px;
          }
          p{
            font-size: 1.5rem;
          }
        }
      }
    }
    .services{
      width: 90%;
      .row{
        .list{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 2;
          p{
            &:hover{
              background: rgb(162,243,162);
              background: linear-gradient(128deg, rgba(162,243,162,1) 50%, rgba(228,228,228,1) 50%);
            }
          }
        }
        .image{
          flex: 3;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          gap: 2rem;
          img{
            height: 200px;
            width: 90%;
            border-radius: 20px;
          }
          p{
            font-size: 1.3rem;
            text-align: center;
            width: 75%;
          }
          button{
            width: 60%;
          }
        }
      }
    }
    .features{
      width: 90%;
      .row{
        .list{
          flex-direction: row;
          .card{
            button{
              margin-left: 50%;
              width: 50%;
              &:hover{
                text-decoration: underline;
              }
            }
          }
          .pill{
            display: none;
          }
        }
      }
    }
    .clients{
      .row{
        .list{
          flex-direction: row;
          .card{
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #a2f3a2;
          }
        }
      }
    }
    .footer{
      width: 100%;
    }
  }
}