@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  // grid-template-rows: 150px 100px 1fr;
  animation: colorchange 120s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
  cursor: url("../assets/hand-point.png");
}

/* Nav Stylings */
.header {
  flex: 7;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  justify-self: center;
  background-color: rgb(30, 30, 30);
  box-shadow: 5px 5px 15px 1px rgba(30, 30, 30, 0.4);
  color: white;
  img {
    cursor: pointer;
    height: 30px;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(30, 30, 30);
    gap: 5px;
    .name {
      width: 100%;
      padding-left: 1%;
      background-color: rgb(232, 232, 232);
      transform: skewY(-7deg);
      h3 {
        font-size: 3.5rem;
        margin-bottom: 5px;
        letter-spacing: 2px;
        font-family: "Caveat";
      }
      p {
        font-size: 1.25rem;
        margin-bottom: 5px;
      }
    }
    .lower {
      width: 100%;
      transform: skewY(-7deg);
      display: flex;
      justify-content: space-between;
      .job {
        background-color: rgb(232, 232, 232);
        border-radius: 0 10px 10px 0;
        width: 60%;
        padding-left: 1%;
        h3 {
          font-size: 2rem;
          font-family: "Caveat";
        }
      }
      .socialButtons {
        background-color: rgb(232, 232, 232);
        border-radius: 10px 0 0 10px;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15%;
        cursor: pointer;
        a {
          height: 30px;
        }
        img {
          height: 30px;
          &:hover {
            transform: scale(110%);
            transition: all 0.15s;
          }
        }
      }
    }
  }
  .about {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-left: 5%;
    h4 {
      font-size: 1.5rem;
      align-self: flex-start;
    }
    .info-content {
      display: flex;
      align-items: flex-end;
      height: 80%;
      .text {
        flex: 1;
        text-align: end;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      img {
        flex: 1;
        height: 100%;
        width: 100%;
      }
    }
  }
  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 5%;
    h4 {
      font-size: 1.5rem;
      align-self: flex-start;
    }
    .images {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 5%;
      .nodeImg,
      .gitImg {
        filter: invert(98%) sepia(3%) saturate(996%) hue-rotate(180deg)
          brightness(114%) contrast(100%);
      }
    }
  }
}
.nav {
  flex: 3;
  display: flex;

  gap: 30px;
  .buttons {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 1%;
    button {
      background: none;
      outline: none;
      border: none;
      border-radius: 12.5px;
      font-family: "Caveat", sans-serif;
      font-size: 1.5rem;
      cursor: pointer;
      transition: transform 0.2s;
      transition-timing-function: ease-in-out;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      width: 95%;
      padding: 0 5% 0 5%;
      &:hover {
        transform: scale(103%);
      }
      img {
        height: 30px;
      }
    }
    .active {
      background-color: rgb(23, 23, 23);
      color: white;
      img {
        filter: invert(98%) sepia(3%) saturate(996%) hue-rotate(180deg)
          brightness(114%) contrast(100%);
      }
    }
  }
}
// content styles
.content {
  flex: 10;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 100vh;
  justify-self: center;
  gap: 35px;
  .left {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 9fr;
    height: 100vh;
    gap: 10px;
    .title {
      grid-row: 1/2;
      height: 20%;
      background-color: rgb(30, 30, 30);
      color: white;
      justify-self: center;
      width: 90%;
      height: 100%;
      border-radius: 0 0 20px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
    }
    .cards {
      grid-row: 2/3;
      overflow-y: scroll;
      .card {
        height: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        overflow-y: hidden;
        padding: 10px;
        .card-nav {
          width: 70%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        img {
          height: 120px;
          border-radius: 25px;
          border: 2px solid black;
          transition: all 0.2s;
          transition-timing-function: ease-in-out;
          &:hover {
            transform: scale(103%);
          }
        }
        .sourceCodeModule {
          margin-left: 5%;
          width: 70%;
          display: flex;
          align-items: center;
          gap: 10px;
          text-decoration: none;
          img {
            height: 20px;
            border: none;
          }
          a {
            text-decoration: none;
          }
          h4 {
            color: black;
          }
          .rightImg {
            height: 15px;
          }
          .rightImgAnimated {
            animation: bounce 1s infinite;
            animation-timing-function: linear;
          }
          @keyframes bounce {
            0% {
              transform: translateX(0);
            }
            25% {
              transform: translateX(2.5px);
            }
            50% {
              transform: translateX(5px);
            }
            75% {
              transform: translateX(2.5px);
            }
            100% {
              transform: translateX(0);
            }
          }
        }
        .info {
          margin-right: 5%;
          display: flex;
          align-items: center;
          img {
            height: 20px;
            border: none;
            cursor: pointer;
          }
        }
        .info-card {
          position: relative;
          width: 75%;
          background-color: white;
          border-radius: 20px;
          border: 3px solid black;
          padding: 10px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          transform: translateY(210px);
          .tech-images {
            display: flex;
            justify-content: space-around;
            img {
              height: 30px;
              border: none;
              border-radius: 5px;
            }
          }
        }
        .hide {
          display: none;
        }
      }
    }
  }
  .right {
    flex: 1;
    display: grid;
    grid-template-rows: 9fr 1fr;
    height: 100vh;
    gap: 10px;
    .title {
      grid-row: 2/3;
      height: 20%;
      background-color: rgb(30, 30, 30);
      color: white;
      justify-self: center;
      width: 90%;
      height: 100%;
      border-radius: 20px 20px 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
    }
    .cards {
      grid-row: 1/2;
      align-self: end;
      overflow-y: scroll;
      .card {
        height: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        overflow-y: hidden;
        padding: 10px;
        .card-nav {
          width: 70%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        img {
          height: 120px;
          border-radius: 25px;
          border: 2px solid black;
          transition: all 0.2s;
          transition-timing-function: ease-in-out;
          &:hover {
            transform: scale(103%);
          }
        }
        .sourceCodeModule {
          margin-left: 5%;
          width: 70%;
          display: flex;
          align-items: center;
          gap: 10px;
          text-decoration: none;
          img {
            height: 20px;
            border: none;
          }
          a {
            text-decoration: none;
          }
          h4 {
            color: black;
          }
          .rightImg {
            height: 15px;
          }
          .rightImgAnimated {
            animation: bounce 1s infinite;
            animation-timing-function: linear;
          }
          @keyframes bounce {
            0% {
              transform: translateX(0);
            }
            25% {
              transform: translateX(2.5px);
            }
            50% {
              transform: translateX(5px);
            }
            75% {
              transform: translateX(2.5px);
            }
            100% {
              transform: translateX(0);
            }
          }
        }
        .info {
          margin-right: 5%;
          display: flex;
          align-items: center;
          img {
            height: 20px;
            border: none;
            cursor: pointer;
          }
        }
        .info-card {
          position: relative;
          width: 75%;
          background-color: white;
          border-radius: 20px;
          border: 3px solid black;
          padding: 10px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          transform: translateY(210px);
          .tech-images {
            display: flex;
            justify-content: space-around;
            img {
              height: 30px;
              border: none;
              border-radius: 5px;
            }
          }
        }
        .hide {
          display: none;
        }
      }
    }
  }
}

.mouseCursor {
  height: 20px;
  width: 20px;
  position: absolute;
  background-color: rgba(185, 197, 255, 0.5);
  border-radius: 50%;
  pointer-events: none;
  transition: all 0.25s;
}
.mouseCursorFast {
  transition: all 0.01s;
}

@media only screen and (max-width: 964px) {
  #root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    animation: colorchange 120s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
    cursor: url("../assets/hand-point.png");
  }

  /* Nav Stylings */
  .header {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    justify-self: center;
    background-color: rgb(30, 30, 30);
    box-shadow: 5px 5px 15px 1px rgba(30, 30, 30, 0.4);
    color: white;
    img {
      cursor: pointer;
      height: 30px;
    }
    .info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      color: rgb(30, 30, 30);
      gap: 5px;
      .name {
        width: 100%;
        padding-left: 1%;
        background-color: rgb(232, 232, 232);
        transform: skewY(-7deg);
        h3 {
          font-size: 3.5rem;
          margin-bottom: 5px;
          letter-spacing: 2px;
          font-family: "Caveat";
        }
        p {
          font-size: 1.25rem;
          margin-bottom: 5px;
        }
      }
      .lower {
        width: 100%;
        transform: skewY(-7deg);
        display: flex;
        justify-content: space-between;
        .job {
          background-color: rgb(232, 232, 232);
          border-radius: 0 10px 10px 0;
          width: 55%;
          padding-left: 1%;
          h3 {
            font-size: 1.5rem;
            font-family: "Caveat";
          }
        }
        .socialButtons {
          background-color: rgb(232, 232, 232);
          border-radius: 10px 0 0 10px;
          width: 40%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 15%;
          cursor: pointer;
          a {
            height: 25px;
          }
          img {
            height: 25px;
            &:hover {
              transform: scale(110%);
              transition: all 0.15s;
            }
          }
        }
      }
    }
    .about {
      display: none;
      h4 {
        font-size: 1.5rem;
        align-self: flex-start;
      }
      .info-content {
        display: flex;
        align-items: flex-end;
        height: 80%;
        .text {
          flex: 1;
          text-align: end;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
        img {
          flex: 1;
          height: 100%;
          width: 100%;
        }
      }
    }
    .skills {
      display: none;
      h4 {
        font-size: 1.5rem;
        align-self: flex-start;
      }
      .images {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 5%;
        .nodeImg,
        .gitImg {
          filter: invert(98%) sepia(3%) saturate(996%) hue-rotate(180deg)
            brightness(114%) contrast(100%);
        }
      }
    }
  }
  // content styles
  .content {
    flex: 10;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    height: 100vh;
    justify-self: center;
    gap: 35px;
    .card {
      height: 170px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      overflow-y: hidden;
      padding: 10px;
      .card-nav {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      img {
        height: 120px;
        border-radius: 25px;
        border: 2px solid black;
        transition: all 0.2s;
        transition-timing-function: ease-in-out;
        &:hover {
          transform: scale(103%);
        }
      }
      .sourceCodeModule {
        margin-left: 5%;
        width: 70%;
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        img {
          height: 20px;
          border: none;
        }
        a {
          text-decoration: none;
        }
        h4 {
          color: black;
        }
        .rightImg {
          height: 15px;
        }
        .rightImgAnimated {
          animation: bounce 1s infinite;
          animation-timing-function: linear;
        }
        @keyframes bounce {
          0% {
            transform: translateX(0);
          }
          25% {
            transform: translateX(2.5px);
          }
          50% {
            transform: translateX(5px);
          }
          75% {
            transform: translateX(2.5px);
          }
          100% {
            transform: translateX(0);
          }
        }
      }
      .info {
        margin-right: 5%;
        display: flex;
        align-items: center;
        img {
          height: 20px;
          border: none;
          cursor: pointer;
        }
      }
      .info-card {
        position: relative;
        width: 75%;
        background-color: white;
        border-radius: 20px;
        border: 3px solid black;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        transform: translateY(210px);
        .tech-images {
          display: flex;
          justify-content: space-around;
          img {
            height: 30px;
            border: none;
            border-radius: 5px;
          }
        }
      }
      .hide {
        display: none;
      }
    }
  }

  .mouseCursor {
    height: 20px;
    width: 20px;
    position: absolute;
    background-color: rgba(185, 197, 255, 0.5);
    border-radius: 50%;
    pointer-events: none;
    transition: all 0.25s;
  }
  .mouseCursorFast {
    transition: all 0.01s;
  }
}

@keyframes colorchange {
  0% {
    background: #ebebeb;
  }
  17% {
    background: #defffa;
  }
  34% {
    background: #d3f5fd;
  }
  51% {
    background: #d0d9ff;
  }
  68% {
    background: #d3f5fd;
  }
  85% {
    background: #defffa;
  }
  100% {
    background: #ebebeb;
  }
}
